:root {
  --letter-spacing: 3px;
  --title-padding: 0;
}

.logo_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo_wrapper h2 {
  margin: 0;
  padding: 0;
}
.title {
  position: relative;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: var(--letter-spacing);
  font-weight: 200;
  padding: var(--title-padding);
  text-transform: uppercase;
}
