.card_wrapper {
  background-color: var(--main-bg-colour);
}
.card_header {
  padding: 0.4em;
}
.card_body {
  border: 1px solid var(--border-colour-light);
  padding: 0.4em;
}
.card_body_inner_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.details-label {
  font-size: 1rem;
  letter-spacing: 4px;
  text-transform: lowercase;
}
.card_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4em;
  font-size: 0.7rem;
}
