.analytics_wrapper {
  border: 1px solid var(--border-colour-light);
  background-color: var(--fieldSet-bg-colour);
  margin: 0 auto;
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  max-height: 40vh;
  overflow-y: auto;
}

.item {
  border: 1px solid var(--border-colour-dark);
  padding: 0.2em;
}
.item p {
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
}
